@media (max-width: 768px) {
  .text__and__button {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    width: 100%;
  }

  .slider {
    display: flex;
    justify-content: center;
    gap: 0.45rem;
  }

  .text__slider {
    text-align: center;
  }
}
